
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
    display:flex;
    justify-content:center;
    height:100vh;
    width:100%;
    overflow:hidden;
}

.left-side{
    flex: 2;
    position:relative;
    background:#111418;
    border-right:1px solid rgba(0,0,0,0.07);
    box-shadow: 0 0 15px rgba(0,0,0,0.065);
    -webkit-box-shadow: 0 0 15px;
}

input{
    outline:none;
    border:none;
    padding: 1,8rem 4.6rem;
    font-weight:500;
    background:rgba(0,0,0,0.3);
    font-size:1.2rem;
    border-radius:20px;
    border:solid #20c997;
    color:#20c997;
    text-transform:uppercase;
    margin:2rem;

}
button:hover{
    background-color:#20c997;
    color:#fff;
    cursor:pointer;


}

.avatar img{
    padding:10px;
    width:50%;
    height:50%;
    border: 1px solid white;
    border-radius:50%;
}

.left-side nav{
    flex:2;
    justify-content: left;
    height:70vh;
    align-items: center;
    display:flex;
    margin-top:2rem;
}

.left-side nav ul{
list-style:none;

}
.left-side nav li{
    color:whitesmoke;
    text-decoration:none;
    margin:1rem;
}
.left-side .social-links{
    position:absolute;
    bottom:0;
    display: flex;
    padding:2rem;
    justify-content:center;
    align-items:center;
    width:100%;
}
.left-side .social-links a{
    color:#fff;
    padding:0.5rem;
}

.avatar{
    position:absolute;
    text-align:center;
    top:5%;
}
.avatar p{
    font-size: 19px;
}

.right-side{
    flex:10;
    height:100vh;
    background-image: url("star.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    position:relative;

}

.right-side .content
{
    position:absolute;
    background-color:rgba(9,10,10,0.6);
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:100%;
    width:100%;

}

p{
    font-size:2em;
    color:white;

}

h1{
    font-size:4em;
    color:white;
}


